// =========================
// Font Face Declarations
// =========================

// Le Mores Collection Serif - Display font for headlines
@font-face {
  font-family: 'Le Mores Collection Serif';
  src: url('/fonts/Le-Mores-Collection-Serif.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Raleway Variable Font - Buttons, navigation, UI
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
