<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
  {{- partial "head.html" . -}}
  {{- partial "gtm-head.html" . -}}
</head>
<body{{ if .IsHome }} class="home"{{ end }}>
  {{- partial "gtm-body.html" . -}}
  {{- partial "header.html" . -}}

  <main>
    {{- block "main" . }}{{- end }}
  </main>

  {{- $isContactPage := and .File (eq .File.BaseFileName "contact") -}}
  {{- if not $isContactPage -}}
    {{- partial "cta-banner.html" . -}}
  {{- end -}}
  {{- partial "footer.html" . -}}

  {{- partial "scripts.html" . -}}
</body>
</html>
