<section class="events section">
  <div class="container">
    <h2 class="events__heading">{{ site.Data.events.heading }}</h2>

    <div class="events__grid">
      {{ range site.Data.events.types }}
      <div class="events__item">
        <div class="events__icon">
          {{ $icon := resources.Get (printf "images/icons/%s" .icon) }}
          {{ if $icon }}
            {{ $resized := $icon.Resize "128x" }}
            <img src="{{ $resized.RelPermalink }}" alt="{{ .label }} icon" />
          {{ end }}
        </div>
        <span class="events__label">{{ .label }}</span>
      </div>
      {{ end }}
    </div>

    <div class="events__cta">
      <a href="{{ site.Data.events.cta_link }}" class="btn btn-outline">{{ site.Data.events.cta_text }}</a>
    </div>
  </div>
</section>
