{{- $heroImage := resources.Get "images/hero/venue-exterior.jpg" -}}
{{- $heroBg := "" -}}
{{- if $heroImage -}}
  {{- $heroBg = ($heroImage.Resize "1920x q85").RelPermalink -}}
{{- end -}}

<section class="hero" style="background-image: url('{{ $heroBg }}');">
  <div class="hero__content">
    {{/* Webflow structure: single h1 with <br> for line break */}}
    <h1 class="hero__title">Germantown's Premier<br>ART&nbsp;GALLERY&nbsp;&amp; VENUE</h1>
    {{/* Webflow structure: uses <br> between lines, not separate <p> tags */}}
    <div class="hero__tagline tagline">ART AND&nbsp;LIFE.<br>LIFE&nbsp;AND&nbsp;ART.<br>LIFE AS&nbsp;ART.</div>
    <div class="hero__cta">
      <a href="/contact/" class="btn btn-secondary">SCHEDULE A TOUR</a>
    </div>
  </div>
</section>
